h1 {
  text-align: center;
  color: #56222E;
  font-size: 2em;
}

.h1phase2 {
  color: #D69549;
}

h3 {
  color: #56222E;
  font-size: 1em;
  text-align: center;
}

.h3phase2 {
  color: #D69549;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: verdana;
  /* padding: 0;
  margin: 0; */
}

#fem-map {
  position: relative;
  height: 600px;
  width: 100%;  
}

#fem-map-sum {
  position: relative;
  height: 350px;
  width: 100%;  
}

#gdp-map {
  position: relative;
  height: 600px; 
  width: 100%;  
}

#gdp-map-sum {
  position: relative;
  height: 350px; 
  width: 100%;  
}



.jumbotron {
  text-align: center;
}
.fourth-row {
margin-top: 5%;
}

.text-box {
  background-color: white;
  opacity: 0.75;
  border-radius: 8px;
  margin: 1%;
  z-index: 3;
}

.summary-text-box {
  background-color: white;
  opacity: 0.75;
  border-radius: 8px;
  z-index: 3;
  font-size: .8em
}

.details-text-box {
  background-color: white;
  opacity: 0.75;
  border-radius: 8px;
  z-index: 3;
  font: 13px verdana;
}

div.sticky-bottom {
  z-index: 2;
}

div.fixed-bottom {
  z-index: 1;
}

div.background {
  opacity: 0.15;
}

.btn-dark {
  background-color: #56222E;
  z-index: 4;
}
.btn-darkphase2 {
  background-color: #D69549;
}
ul.lead {
  font-size: .9em
}

p.lead {
  font-size: .9em
}

.leaflet-popup-content {
  text-align: center;
}
/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px verdana;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  line-height: 1.5em;
  color: white;
  width: 80%;
  height: 80%;
}

/* color square indicating the square */
.legend i {
  width: 18px;
  height: 1.5em;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 50px;
  height: 22px;
}
.legend .min {
  float: left;
  padding-bottom: 5px;
}
.legend .max {
  float: right;
}

.info {
  background-color: #A9A9A9;
  width: 40%;
  color: white;
  font-size: 10px;
  padding: 1em;
  line-height: 2em;
  font-family: 'verdana';
}

.infoside {
  background-color: #A9A9A9;
  width: 120%;
  color: white;
  font-size: 10px;
  padding: 1em;
  line-height: 2em;
  font-family: 'verdana';
}

.info h6 {
  padding: 0;
  margin-top: 0;
  font-family: 'verdana';
}
h6 {
  font-family: 'verdana';
  font-weight: bold;
}
.infoside h3 {
  padding: none;
  font-weight: bold;
  font-style: italic;
  color: #ffd32a;
  font-size: 12px;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
}
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #A9A9A9; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #bd5742; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #bd5742; /* Green background */
  cursor: pointer; /* Cursor on hover */
}