<!DOCTYPE html>
<html lang="en-us">

  <head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Set up CSS Style sheet -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Title of webpage -->
    <title>Wonder Women | Final Project | Gender Bias in Job Descriptions</title>

</head>

<body>
    
    <!-- Navigation bar at top (sticky) -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #56222E;">
        <a class="navbar-brand" href="#">Wonder Women | Final Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

         <!-- Individually linked pages in navigation bar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="summary.html">Summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="participation.html">Participation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gdp.html">GDP</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Bias<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="proof.html">Proof</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tool.html">Tool</a>
              </li>
            </ul>
          </div>
        </nav>

    <!-- Jumbotron (scaleable) -->
    <div class="jumbotron jumbotron-fluid" style="background-color: #FBEBBB;">
        <div class="container">
            <h1 class="display-4 h1phase2">Women in the Workforce</h1>
            <p class="lead font-weight-normal">How does gender biased wording in job descriptions perpetuate gender inequality in the workforce?</p>
            <p><a class="btn btn-darkphase2" href="summary.html" role="button">Learn more »</a></p>
        </div>
    </div>

    <!-- Creates the overall grid layout of page (scaleable) -->
    <div class="container-fluid">

        <!-- Row -->
        <div class="row">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="container text-box col">
              <h1 class="display-5 font-weight-light h1phase2">Introduction</h1>
              <p class="lead font-weight-normal">Part 2 of our project explores the perpetuation of gender inequality in the workforce due to gender biased job descriptions. 
              </p>
            </div>

            <div class="row">
                <div class="text-box col">
                                    <br>
                  <h1 class="display-5 font-weight-light h1phase2">Gendered Wording and Job Appeal</h1>
                  <p>
                    <ul class="lead font-weight-normal">
                      <li>
                        <b>[Point 1] - </b> [DESCRIPTION HERE]. 
                      </li>
                      <br>
                      <li>
                        <b>[Point 2] - </b> [DESCRIPTION HERE].
                      </li>
                      <br>
                      <li>
                        <b>[Point 3] - </b> [DESCRIPTION HERE].
                      </li>
                    </ul>
                  </p>
                
              </div>

              <div class="text-box col">

                <br>
                <h1 class="display-5 font-weight-light h1phase2">Gendered Wording and Belonging
                </h1>
                <p>
                  <ul class="lead font-weight-normal">
                    <li>
                      <b>[Point 1] - </b> [DESCRIPTION HERE].
                    </li>
                    <br>
                    <li>
                      <b>[Point 2] - </b> [DESCRIPTION HERE].
                    </li>
                    <br>
                    <li>
                      <b>[Point 3] - </b> [DESCRIPTION HERE].
                    </li>
                  </ul>
                </p>
              
            </div>

              <div class="text-box col"><br>
                  <h1 class="display-5 font-weight-light h1phase2">Summary</h1>
                  <br>
                  <br>
                  <p>
                    <ul class="lead font-weight-normal">
                      <li>
                        [Point 1] 
                      </li>
                      <br>
                      <li>
                        [Point 2]
                      </li>
                      <br>
                      <li>
                        [Point 3]
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>

        <!-- Women's background image at bottom (scaleable) -->
        <div class="background fixed-bottom text-center"><img src="../static/img/2RowsOfWomen_shutterstock_1671164629_cropped.jpg" class="img-fluid" alt="Responsive image"/></div>
      
    </div>

<!-- Copyright footer (centered) -->
<footer class="container sticky-bottom text-center">
    <p><small>© Wonder Women 2020</small></p>
</footer>

</body>

</html>