<!DOCTYPE html>
<html lang="en-us">

<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Leaflet CSS & JS-->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>


    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
     
    <!-- Set up CSS Style sheet -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Title of webpage -->
    <title>Wonder Women | Project 2 | GDP Growth</title>

</head>

<body>
    
    <!-- Navigation bar at top (sticky) -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #56222E;">
        <a class="navbar-brand" href="index.html">Wonder Women | Project 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

         <!-- Individually linked pages in navigation bar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="summary.html">Summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="participation.html">Participation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gdp.html">GDP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index2.html">Gendered Wording Summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="summary2.html">Gendered Wording Viz</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tool.html"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">about<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </nav>
    
        <!-- Creates the overall grid layout of page (scaleable) -->
    <div class="container-fluid">
    
        <!-- Row 1 = Title at Top -->
        <div class="row" style="background-color: #FBEBBB;">
            <!-- Sets top row to entire page width (12) -->
            <div class="col-md-12 text-center">
            <br>
            <h1 class="display-4 h1phase2">Women in the Workforce</h1>
            <br>
            </div>
        </div>
        
        <br>

        <!-- Row 2 -->
        <div class="row">

            <!-- Sets top row to entire page width (12) -->
            <div class="col-md-12">
                <br>
                <h3 class= "h3phase2">
                    <b>
                    Resources
                    </b>
                </h3>
            </div>
        </div>

        <div class="row">

            <!-- Sets top row to entire page width (12) -->
            <div class="col-md-12">
                <br>
                <h3 class= "h3phase2">
                    <b>
                    Languages, Libraries, and Technologies Used
                    </b>
                </h3>
                <p>
                    <ul>
                        <li>
                            Python
                        </li>
                        <li>
                            SQL
                        </li>
                        <li>
                            HTML
                        </li>
                        <li>
                            CSS
                        </li>
                        <li>
                            JavaScript - Plotly
                        </li>
                        <li>
                            JavaScript - Leaflet
                        </li>
                        <li>
                            MongoDB
                        </li>
                        <li>
                            Machine Learning
                        </li>
                    </ul>
                </p>

            </div>
        </div>

        <div class="row">

            <!-- Sets top row to entire page width (12) -->
            <div class="col-md-12">
                <br>
                <h3 class= "h3phase2">
                    <b>
                    The Team
                    </b>
                </h3>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
  
        <!-- Women's background image at bottom (scaleable) -->
        <!-- <div class="background fixed-bottom text-center"><img src="../static/img/1RowOfWomen_shutterstock_1662016453_cropped.jpg" class="img-fluid" alt="Responsive image"/></div> -->

    </div>

<!-- Copyright footer (centered) -->
<footer class="container sticky-bottom text-center">
    <p><small>© Wonder Women 2020</small></p> 
</footer>

<!-- <script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="../static/data/merged_GDP_data_geo.js"></script>
<script type="text/javascript" src="../static/js/SliderControl.js"></script>
<script type="text/javascript" src="../static/js/detail_gdp_choropleth.js"></script>  -->

</body>