<!DOCTYPE html>
<html lang="en-us">

  <head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Set up CSS Style sheet -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Title of webpage -->
    <title>Wonder Women | Project 2</title>

</head>

<body>
    
    <!-- Navigation bar at top (sticky) -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #56222E;">
        <a class="navbar-brand" href="#">Wonder Women | Project 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

         <!-- Individually linked pages in navigation bar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="summary.html">Summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="participation.html">Participation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gdp.html">GDP</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="gdp.html">Gendered Wording Summary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gdp.html">Gendered Wording Viz</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gdp.html">Gendered Wording Tool</a>
              </li> -->
            </ul>
          </div>
        </nav>

    <!-- Jumbotron (scaleable) -->
    <div class="jumbotron jumbotron-fluid" style="background-color: #DAA095;">
        <div class="container">
            <h1 class="display-4">Women in the Workforce</h1>
            <p class="lead font-weight-normal">Is there a correlation between female workforce participation and GDP?</p>
            <p><a class="btn btn-dark" href="summary.html" role="button">Learn more »</a></p>
        </div>
    </div>

    <!-- Creates the overall grid layout of page (scaleable) -->
    <div class="container-fluid">

        <!-- Row -->
        <div class="row">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="container text-box col">
              <h1 class="display-5 font-weight-light">Introduction</h1>
              <p class="lead font-weight-normal">Our project explores the relationship between female workforce participation and GDP growth from 1990 to 2018. Female workforce participation represents participation as a proportion of total workforce. Workforce participants comprise of people ages 15 and older who supply labor for the production of goods and services. GDP growth represents the annual percentage growth rate of each country’s GDP based on their local currency. 
              </p>
            </div>

            <div class="row">
                <div class="text-box col">
                                    <br>
                  <h1 class="display-5 font-weight-light">Contributing Factors to the Increase in Female Workforce Participation</h1>
                  <p>
                    <ul class="lead font-weight-normal">
                      <li>
                        <b>Maternal Health - </b> A decline in the burden of maternal conditions (e.g. disabilities as a result of pregnancy) and the introduction of infant formula contributed to the rise in married women's labor force participation. Additionally, a decline in maternal mortality rate has driven an increase in female workforce participation. 
                      </li>
                      <br>
                      <li>
                        <b>Fertility - </b> Increasing women’s control over their bodies and reproductive choice often results in  the decision to have fewer children. As fertility has decreased, female workforce participation has increased.
                      </li>
                      <br>
                      <li>
                        <b>Changes in Societal Norms & Institutional Laws - </b> In 1945, only 18% of the US population believed that women should work, today that percentage is well over 85%. Additionally, many laws prohibiting women from performing certain jobs have been eliminated. For example, “marriage bars” in the 1800s and 1900s prohibited married women from working in teaching an clerical jobs. Today, those occupations are the most commonly held among women.
                      </li>
                    </ul>
                  </p>
                
              </div>

              <div class="text-box col">

                <br>
                <h1 class="display-5 font-weight-light">Contributing Factors to GDP Growth and Volatility
                </h1>
                <br>
                <p>
                  <ul class="lead font-weight-normal">
                    <li>
                      <b>Increased capital - </b> A country’s investment in new factories and infrastructure such as roads and telephones can improve its GDP
                    </li>
                    <br>
                    <li>
                      <b>Increase in Working Population - </b> An increase in working population (e.g. through immigration, higher birth rate, female participation) increases economic activity
                    </li>
                    <br>
                    <li>
                      <b>Increase in Workforce Productivity - </b> Education advancement and proper training in use of infrastructure and technology can make ensure that the population is working efficiently and productively
                    </li>
                    <br>
                    <li>
                      <b>Technological Improvements - </b> Technological advancements improve the productivity of capital and workforce
                    </li>
                    <br>
                    <li>
                      <b>Recessions and Depressions - </b> A decline in business sales and revenues cause businesses to stop expanding and producing, decreasing supply. A rise in unemployment rates causes consumers to stop spending, decreasing demand
                    </li>
                  </ul>
                </p>
              
            </div>

              <div class="text-box col"><br>
                  <h1 class="display-5 font-weight-light">Summary</h1>
                  <br>
                  <br>
                  <p>
                    <ul class="lead font-weight-normal">
                      <li>
                        Female workforce participation has increased steadily at a rate of 6.2% from 1990 to 2018 
                      </li>
                      <br>
                      <li>
                        Global GDP has also grown substantially throughout the decades. However factors such as depressions and recessions produce rapid declines in global GDP growth in select years
                      </li>
                      <br>
                      <li>
                        Women’s labor force participation and GDP growth vary across countries and continents
                      </li>
                      <br>
                      <li>
                        There are several factors that contribute to GDP growth. While there is no direct link between female workforce participation growth and GDP growth, it is a well known fact that high female workforce participation leads to an increase in workforce activity, and an increase in workforce activity inevitably leads to economic growth
                      </li>
                    </ul>
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>

        <!-- Women's background image at bottom (scaleable) -->
        <div class="fixed-bottom text-center"><img src="../static/img/2RowsOfWomen_shutterstock_1671164629_cropped.jpg" class="img-fluid" alt="Responsive image"/></div>
      
    </div>

<!-- Copyright footer (centered) -->
<footer class="container sticky-bottom text-center">
    <p><small>© Wonder Women 2020</small></p>
</footer>

</body>

</html>