<!DOCTYPE html>
<html lang="en-us">

<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Leaflet CSS & JS-->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>


    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>


    <!-- Set up CSS Style sheet -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Title of webpage -->
    <title>Wonder Women | Final Project | Summary</title>

</head>

<body>
    
    <!-- Navigation bar at top (sticky) -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #56222E;">
        <a class="navbar-brand" href="index.html">Wonder Women | Final Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

         <!-- Individually linked pages in navigation bar -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Summary<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="participation.html">Participation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gdp.html">GDP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="bias.html">Bias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="proof.html">Proof</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tool.html">Tool</a>
              </li>
            </ul>
          </div>
        </nav>
    
        <!-- Creates the overall grid layout of page (scaleable) -->
    <div class="container-fluid">
    
        <!-- Row 1 = Title at Top -->
        <div class="row" style="background-color: #DAA095;">
            <!-- Sets top row to entire page width (12) -->
            <div class="col-md-12 text-center">
            <br>
            <h1 class="display-4">Women in the Workforce</h1>
            <br>
            </div>
        </div>
        
        <br>

        <!-- Row 2 -->
        <div class="row">
            <!-- Lefthand column -->
            <!-- Set first row's columns to half screen (50% width: 6), on mobile 'xs' and desktop 'md' -->
            <div class="col-xs-6 col-md-6">
                <h3><b>Female Workforce Participation and GDP Growth Over Time</b></h3>
                <div id="linegraph"></div>
            </div>

            <!-- Righthand column -->
            <div class="col-xs-6 col-md-6">
                <h3><b>Female Workforce Participation and GDP Growth by Continent</b></h3>
                <div id="barchart"></div>
            </div>
        </div>

        <br>

        <!-- Row 3 -->
        <div class="row">
            <!-- Lefthand column -->
            <div class="summary-text-box col-xs-6 col-md-6">
                <p> Globally, workforce participation among women has increased substantially in the last 28 years. At a growth rate of 6.2%, female workforce participation steadily increased from 1990 to 2018. On the other hand, year-over-year  GDP change is more volatile. There are sharp declines in GDP growth in the early 1990’s, the early 2000’s and 2009 due to domestic and global recessions and economic downturns.</p>
            </div>

            <!-- Righthand column -->
            <div class="summary-text-box col-xs-6 col-md-6">
                <p> Female workforce participation varies considerably across continents. Continents with more emerging economies (Asia, Africa, and South America) have lower participation rates; South America being the outlier as countries within the region have done a remarkable job of reducing the gender gap through the educational advancement of women. Today, the education gap from a gender perspective in many large South American countries is almost closed and women are working more as a result. Countries with lower female participation (Europe and Africa) have seen the least amount of GDP growth over time; Asia being the outlier here due to the rapid economic growth of China and other “Asian Tigers”. Increased capital investment and an increase in productivity in the late 1970’s led to the rapid growth of those countries, rendering them major players in the global economy.
                </p>
            </div>
        </div>

        <!-- Row 4 -->
        <div class="row fourth-row">
            <!-- Lefthand column -->
            <div class="col-xs-6 col-md-6">
            <!-- <div class="col"> -->

                <h3><b> Global Female Workforce Participation Over Time (1990-2018)</b></h3>
                <div id="fem-map-sum"></div>
                    <a class="btn btn-dark" href="participation.html" role="button">View details »</a>
            </div>

            <!-- Righthand column -->
            <div class="col-xs-6 col-md-6">
                <h3><b>Global GDP Growth Over Time (1990-2018)</b></h3>
                <div id="gdp-map-sum"></div>
                    <a class="btn btn-dark" href="gdp.html" role="button">View details »</a>
            </div>
        </div>

        <!-- Row 5 -->
        <div class="row">
            <!-- Lefthand column -->
            <div class="summary-text-box col-xs-6 col-md-6">
                <p> The visualization above shows female workforce participation rates across world regions. Change overtime can be seen using the slider on the bottom left corner. As apparent in the visualization, female workforce participation varies over time across countries and across regions.</p>
            </div>

            <!-- Righthand column -->
            <div class="summary-text-box col-xs-6 col-md-6">
                <p> The visualization above shows GDP growth rates across world regions. Change overtime can be seen using the slider on the bottom left  corner. As apparent in the visualization, GDP growth varies over time across countries and across regions.</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
     
       

        <!-- Women's background image at bottom (scaleable) -->
        <div class="background fixed-bottom text-center"><img src="../static/img/1RowOfWomen_shutterstock_1662016453_cropped.jpg" class="img-fluid" alt="Responsive image"/></div>
    </div>

<!-- Copyright footer (centered) -->
<footer class="container sticky-bottom text-center">
    <p><small>© Wonder Women 2020</small></p> 
</footer>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="../static/js/linegraph.js"></script>
<script src="../static/js/barchart.js"></script>
<script type="text/javascript" src="../static/data/merged_workforce_data_geo.js"></script>
<script type="text/javascript" src="../static/js/logic_summary.js"></script>
<script type="text/javascript" src="../static/data/merged_GDP_data_geo.js"></script>
<script type="text/javascript" src="../static/js/SliderControl.js"></script>
<script type="text/javascript" src="../static/js/summary_gdp_choropleth.js"></script>


</body>
</html>